/* Variables*/
:root {
  --light-color: rgb(168, 91, 168);
  --dark-color: rgb(47, 37, 54);
  --margin-from-aside: 5px;
}

/* General Styles*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header Styles*/
header {
  display: flex;
  width: 100%;
  background-color: var(--dark-color);
  padding: 10px;
}

header h1 {
  padding-left: 35px;
  padding-right: 10px;
  background-color: var(--light-color);
  color: var(--dark-color);
}

header a {
  color: var(--light-color);
  padding: 2px;
  text-decoration: none;
  border-bottom: 3px solid var(--light-color);
  margin: 0px 3px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  padding-right: 35px;
}

/* Hero Styles*/
.hero-banner {
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner div h2 {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 2px 3px;
  margin: 0px 40px 20px 0px;
}