/* Variables*/
:root {
  --light-color: rgb(168, 91, 168);
  --dark-color: rgb(47, 37, 54);
  --margin-from-aside: 5px;
}

/* General Styles*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(220, 208, 231);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-section h2 {
  color: var(--dark-color);
  border-right: 3px solid var(--dark-color);
  display: flex;
  justify-content: right;
  padding-right: 15px;
  margin: 30px;
}

.page-subsection {
  margin: 30px 0px;
}

/* Header Styles*/
header {
  display: flex;
  background-color: var(--dark-color);
  padding: 10px;
}

header h1 {
  padding-left: 35px;
  padding-right: 10px;
  background-color: var(--light-color);
  color: var(--dark-color);
  white-space: nowrap;
}

header a {
  color: var(--light-color);
  padding: 2px;
  text-decoration: none;
  border-bottom: 3px solid var(--light-color);
  margin: 0px 3px;
  background-color: var(--dark-color);
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: right;
  padding-right: 35px;
  background-color: var(--dark-color);
}

/* Hero Styles*/
.hero-banner {
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner div h2 {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 2px 3px;
  margin: 0px 40px 20px 0px;
}

/* Grid styles*/
.page-section {
  display: grid;
  grid-template-columns: 15% 85%;
  column-gap: 3em;
}

.page-subsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.page-subsection div {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 65px 0px;
}

#surfReport {
  grid-column: span 2;
  background-image: url(../images/02-portfolio-4.jpg);
}

#ledWall {
  background-image: url(../images/02-portfolio-1.jpg);
}

#calculator {
  background-image: url(../images/02-portfolio-2.jpg);
}

#pastelPuzzles {
  background-image: url(../images/02-portfolio-3.jpg);
}

#runBuddy {
  background-image: url(../images/02-run-buddy.jpg);
}

#work h3, #work p {
  background-color: var(--light-color);
  color: var(--dark-color);
  width: max-content;
}

#contact div {
  padding: 40px 40px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}